

USE [master]
GO


/****** Object:  Database [quanlydanhba]    Xem thêm:  www.manguonvip.com ******/
CREATE DATABASE [quanlydanhba]
 GO


USE [quanlydanhba]
GO




/****** Object:  StoredProcedure [dbo].[Searchdoituong]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Searchdoituong] (@Tendoituong nvarchar(255),@Tinh integer)
AS
BEGIN
	declare @TenDoiTuongkhongdau nvarchar(255)
	set @TenDoiTuongkhongdau = dbo.fnChuyenKhongDau(@Tendoituong) 
	select * 
	from Doituong WHERE Tendoituongkhongdau like '%'+@TenDoiTuongkhongdau+'%' and Tinh = @Tinh
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DoituongDelete]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DoituongDelete]
@chuoidoituong as varchar(100)
as
Declare @ChuoiThucThi as varchar(200)
Set @ChuoiThucThi='Delete from Doituong where iddoituong in('
+@chuoidoituong+')'
exec(@chuoiThucthi)
select errcode=1, errmsg=N'Xóa thành công'
GO
/****** Object:  StoredProcedure [dbo].[sp_DoituongSelect]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DoituongSelect]
@iddoituong as integer,
@hien as integer,
@an as integer
AS
if @iddoituong=0
Select * From Doituong
where doituongStatus=@an or doituongStatus=@hien
else
Select * From Doituong
where iddoituong=@iddoituong
GO
/****** Object:  StoredProcedure [dbo].[sp_DoituongSelectByID]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DoituongSelectByID]
@iddoituong as int,
@An as int,
@hien as int
as
if(@iddoituong=0)
select * from Doituong where doituongStatus=@an or doituongStatus=@hien
else
select * from Doituong where iddoituong=@iddoituong

GO
/****** Object:  StoredProcedure [dbo].[sp_doituongupdate]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_doituongupdate]
@iddoituong integer,
@Tendoituong as nvarchar(50),
@Diachi as nvarchar(50),
@Email as nvarchar(30),
@SoDienThoai as nchar(11),
@Tinh integer,
@doituongStatus as integer
 AS
if @iddoituong is not null
begin
	update Doituong
	set Tendoituong=@Tendoituong, Diachi=@Diachi,
	Email=@Email,SoDienThoai=@SoDienThoai,Tinh=@Tinh, doituongStatus=@doituongStatus
	where iddoituong=@iddoituong
	select Errcode=0, ErrMsg=N'Update thành công'
end

GO
/****** Object:  StoredProcedure [dbo].[sp_QCInsert]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_QCInsert]
@TenCty as varchar(50),
@Hinh as nvarchar(50),
@Hrep as varchar(50)
as
Insert
quangcao(TenCty,Hinh,Hrep)
values(@TenCty,@Hinh,@Hrep)
Select ErrCode=1,ErrMsg=N'Tạo thành công '

GO
/****** Object:  StoredProcedure [dbo].[sp_QuangaoDelete]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_QuangaoDelete]
@chuoidoituong as varchar(100)
as
Declare @ChuoiThucThi as varchar(200)
Set @ChuoiThucThi='Delete from quangcao where id in('
+@chuoidoituong+')'
exec(@chuoiThucthi)
select errcode=1, errmsg=N'Xóa thành công'
GO
/****** Object:  StoredProcedure [dbo].[sp_QuangcaoSelect]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_QuangcaoSelect]
@id as integer,
@hien as integer,
@an as integer
AS
if @id=0
Select * From quangcao
where Status=@an or Status=@hien
else
Select * From quangcao
where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_QuangcaoSelectByID]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_QuangcaoSelectByID]
@id as int,
@An as int,
@hien as int
as
if(@id=0)
select * from quangcao where Status=@an or Status=@hien
else
select * from quangcao where id=@id

GO
/****** Object:  StoredProcedure [dbo].[sp_quangcaoupdate]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_quangcaoupdate]
@id integer,
@TenCty as nvarchar(50),
@Hinh as nvarchar(50),
@Hrep as nvarchar(30),
@Status as integer
 AS
if @id is not null
begin
	update quangcao
	set TenCty=@TenCty, Hinh=@Hinh,Hrep=@Hrep,Status=@Status
	where id=@id
	select Errcode=0, ErrMsg=N'Update thành công'
end

GO
/****** Object:  StoredProcedure [dbo].[sp_user_update]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_user_update]
@Userid integer,
@Username as nvarchar(10),
@Fullname as nvarchar(50),
@Systemright as integer,
@Status as integer
 AS
if @Userid is not null
begin
	update Users
	set Username=@Username, Fullname=@Fullname,
	Systemright=@Systemright, Status=@Status
	where Userid=@Userid
	select Errcode=0, ErrMsg=N'Update thành công'
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UserChangePassword]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserChangePassword]
@UserName nvarchar(30), 
@OldPassword nvarchar(30),
@NewPassword nvarchar(30)
AS
DECLARE @Userid INT
SELECT @Userid=Userid from Users
WHERE UserName=@UserName 
and (PWDCOMPARE(@OldPassword,UserPass)=1 or UserPass is null)
AND Status=1
if(@Userid is not null)
begin
	Update Users set UserPass=PWDENCRYPT(@NewPassword)where UserName=@UserName
  Select ErrCode = 0, ErrMsg = N'Change Password Successful !'
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UserCheckPassword]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserCheckPassword]
@TenDangNhap nvarchar(30), 
@Password varchar(50)
AS
If Exists( select * from Users where UserName = @TenDangNhap and Status=1 and Systemright>0 )
begin
   If Exists(select * from Users where UserName = @TenDangNhap  and Userpass = @Password and Status=1 )
       Select ErrCode = 0, ErrMsg = N'Đăng nhập thành công !' ,*  from Users where UserName = @TenDangNhap
else
  Select ErrCode = 1, ErrMsg = N'Mật khẩu không chính xác !'
end
else
Select ErrCode =2, ErrMsg = N'User này không có quyền!'
GO
/****** Object:  StoredProcedure [dbo].[sp_UserDelete]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_UserDelete]
@chuoiUser as varchar(100)
as
Declare @ChuoiThucThi as varchar(200)
Set @ChuoiThucThi='Delete from Users where userid in('
+@chuoiUser+')'
exec(@chuoithucthi)
select errcode=1, errmsg=N'Xóa thành công'
GO
/****** Object:  StoredProcedure [dbo].[sp_UserInsert]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserInsert]
@UserName as nvarchar(50), 
@Fullname nvarchar(50),
@Systemright as integer
AS
if(exists(select * from Users where Username=@UserName))
	begin 
		select ErrCode=0,ErrMsg=N'User này đã tồn tại'
		return
	end
	insert into Users(Username,Fullname,Systemright)
	values(@UserName,@Fullname,@Systemright)
	select ErrCode=1,ErrMsg=N'Tạo thành công'
GO
/****** Object:  StoredProcedure [dbo].[sp_UserSelectByID]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserSelectByID]
@Userid int, 
@an int,
@hien int
AS
if(@Userid=0)
select * from Users where Status=@an or Status=@hien
else
select * from Users where Userid=@Userid

GO
/****** Object:  StoredProcedure [dbo].[spud_Doituongdangky]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spud_Doituongdangky]
@Tendoituong as nvarchar(50),
@tenkhongdau as nvarchar(50),
@DiaChi as nvarchar(50),
@Email as varchar(30),
@SoDienThoai as nchar(11),
@Tinh as integer
as
if(exists(select * from Doituong where SoDienThoai=@SoDienThoai))
	begin 
		select ErrCode=0,ErrMsg=N'Số điện thoại này đã tồn tại'
		return
	end
	insert into Doituong(Tendoituong,Tendoituongkhongdau,Diachi,Email,SoDienThoai,Tinh)
	values(@Tendoituong,@tenkhongdau,@DiaChi,@Email,@SoDienThoai,@Tinh)
	Select ErrCode=1,ErrMsg=N'Bạn đã đăng ký thành công'
GO
/****** Object:  StoredProcedure [dbo].[spud_Doituonginsert]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spud_Doituonginsert]
@Tendoituong as nvarchar(50),
@tenkhongdau as nvarchar(50),
@DiaChi as nvarchar(50),
@Email as varchar(30),
@SoDienThoai as nchar(11),
@Tinh as integer
as
if(exists(select * from Doituong where SoDienThoai=@SoDienThoai))
	begin 
		select ErrCode=0,ErrMsg=N'Số điện thoại này đã tồn tại'
		return
	end
	insert into Doituong(Tendoituong,Tendoituongkhongdau,Diachi,Email,SoDienThoai,Tinh)
	values(@Tendoituong,@tenkhongdau,@DiaChi,@Email,@SoDienThoai,@Tinh)
	Select ErrCode=1,ErrMsg=N'Bạn đã đăng ký thành công'
GO
/****** Object:  UserDefinedFunction [dbo].[fnChuyenKhongDau]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fnChuyenKhongDau](@strInput NVARCHAR(3000)) 
RETURNS NVARCHAR(3000)
AS
BEGIN     
    IF @strInput IS NULL RETURN @strInput
    IF @strInput = '' RETURN @strInput
    DECLARE @RT NVARCHAR(50)
    DECLARE @SIGN_CHARS NCHAR(136)
    DECLARE @UNSIGN_CHARS NCHAR (136)

    SET @SIGN_CHARS       = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁ​ẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ'+NCHAR(272)+ NCHAR(208)
    SET @UNSIGN_CHARS =     N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAA​AAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'

    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
    SET @COUNTER = 1
 
    WHILE (@COUNTER <=LEN(@strInput))
    BEGIN   
      SET @COUNTER1 = 1
      --Tim trong chuoi mau
       WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1)
       BEGIN
     IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) )
     BEGIN           
          IF @COUNTER=1
              SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1)                   
          ELSE
              SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER)    
              BREAK         
               END
             SET @COUNTER1 = @COUNTER1 +1
       END
      --Tim tiep
       SET @COUNTER = @COUNTER +1
    END
    RETURN @strInput
END 
GO
/****** Object:  Table [dbo].[Doituong]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doituong](
	[iddoituong] [int] IDENTITY(1,1) NOT NULL,
	[Tendoituong] [nvarchar](255) NULL,
	[Tendoituongkhongdau] [nvarchar](255) NULL,
	[Diachi] [nvarchar](50) NULL,
	[Email] [varchar](30) NULL,
	[SoDienThoai] [nchar](11) NULL,
	[Tinh] [int] NULL,
	[doituongStatus] [int] NULL,
 CONSTRAINT [PK_Doituong] PRIMARY KEY CLUSTERED 
(
	[iddoituong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quangcao]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quangcao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenCty] [varchar](50) NOT NULL,
	[Hinh] [nvarchar](50) NULL,
	[Hrep] [varchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_quangcao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Xem thêm:  www.manguonvip.com ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Userpass] [varchar](50) NULL,
	[Fullname] [nvarchar](50) NULL,
	[Systemright] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Doituong] ON 

INSERT [dbo].[Doituong] ([iddoituong], [Tendoituong], [Tendoituongkhongdau], [Diachi], [Email], [SoDienThoai], [Tinh], [doituongStatus]) VALUES (1, N'Hà Oanh', N're', N'Tp.HCM', N'oanh786@yahoo.com', N'0987676565 ', 8, 1)
INSERT [dbo].[Doituong] ([iddoituong], [Tendoituong], [Tendoituongkhongdau], [Diachi], [Email], [SoDienThoai], [Tinh], [doituongStatus]) VALUES (2, N'Lê Thị lan', N'le thi lan', N'hải yêm', N'lan@Gmail.com', N'0123456789 ', 1, 1)
INSERT [dbo].[Doituong] ([iddoituong], [Tendoituong], [Tendoituongkhongdau], [Diachi], [Email], [SoDienThoai], [Tinh], [doituongStatus]) VALUES (3, N'Trần Thị Yến', N'le thi dd', N'Bến Tre', N'lan@Gmail.com', N'012342351  ', 7, 1)
SET IDENTITY_INSERT [dbo].[Doituong] OFF
SET IDENTITY_INSERT [dbo].[quangcao] ON 

INSERT [dbo].[quangcao] ([id], [TenCty], [Hinh], [Hrep], [Status]) VALUES (1, N'ttt', N'logo.jpg', N'hj', 1)
INSERT [dbo].[quangcao] ([id], [TenCty], [Hinh], [Hrep], [Status]) VALUES (2, N'gf', N'nu cuoi.jpg', N'gg', 1)
INSERT [dbo].[quangcao] ([id], [TenCty], [Hinh], [Hrep], [Status]) VALUES (3, N'fd', N'keu cuu.jpg', N'fdf', 1)
SET IDENTITY_INSERT [dbo].[quangcao] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Userid], [Username], [Userpass], [Fullname], [Systemright], [Status]) VALUES (2, N'admin', N'admin', N'Nguyễn Gia Minh', 1, 1)
INSERT [dbo].[Users] ([Userid], [Username], [Userpass], [Fullname], [Systemright], [Status]) VALUES (3, N'huyen', NULL, N'Lê Thị Ngọc Huyền', 2, 1)
INSERT [dbo].[Users] ([Userid], [Username], [Userpass], [Fullname], [Systemright], [Status]) VALUES (4, N'trang', NULL, N'Nguyễn Thị Thùy Trang', 2, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Doituong] ADD  CONSTRAINT [DF_Doituong_doituongStatus]  DEFAULT ((1)) FOR [doituongStatus]
GO
ALTER TABLE [dbo].[quangcao] ADD  CONSTRAINT [DF_quangcao_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_account_Status]  DEFAULT ((1)) FOR [Status]
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_3F115E1A] ON [dbo].[Doituong]([Tendoituong]) WITH STATS_STREAM = 0x01000000010000000000000000000000CA3CEAA0000000003403000000000000F402000000000000E7020000E7000000FE0100000000000008D00034000000000700000061A8340124A1000008000000000000000800000000000000000000002549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000070000000700000001000000100000000000184100000041000000000000184100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000011010000000000009001000000000000380000000000000051000000000000006C000000000000009500000000000000C000000000000000DB00000000000000F600000000000000300010000000803F000000000000803F040000010019004600300010000000803F000000000000803F04000001001B0046004400300010000000803F000000000000803F040000010029004C00EA00200054006800CB1E2000640064003000100000000040000000000000803F04000001002B004C00EA00200054006800CB1E20006C0061006E00300010000000803F000000000000803F04000001001B0072006500300010000000803F000000000000803F04000001001B0054005200300010000000803F000000000000803F04000001001B0078006300FF010000000000000008000000070000002800000028000000000000000000000014000000460044004C00EA00200054006800CB1E2000640064006C0061006E00720065005400520078006300090000004000000000C1010000000101010000C007020000810209000002030B000081020E00008102100000010212000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000003_3F115E1A] ON [dbo].[Doituong]([Tendoituongkhongdau]) WITH STATS_STREAM = 0x010000000100000000000000000000002089FC2600000000CB010000000000008B01000000000000E7020000E7000000FE0100000000000008D0003410000000070000008D60250121A1000007000000000000000700000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000E0400000E040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000002F00000000000000FF01000000070000000700000001000000280000002800000000000000000000000000000001000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000004_3F115E1A] ON [dbo].[Doituong]([Diachi]) WITH STATS_STREAM = 0x01000000010000000000000000000000C4CCA85A000000001403000000000000D402000000000000E7020000E7000000640000000000000008D0003402000000070000006FA8340124A10000080000000000000008000000000000000000803F2549123E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001000000000000841000000410000000000000841000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000EA0000000000000070010000000000003000000000000000570000000000000074000000000000008D00000000000000B200000000000000CD000000000000003000100000000040000000000000803F040000010027006200690065006E00200068006F006100300010000000803F000000000000803F04000001001D00630078006300300010000000803F000000000000803F040000010019004400300010000000803F0000803F0000803F040000010025006800A31E690020007900EA006D00300010000000803F000000000000803F04000001001B0072006500300010000000803F000000000000803F04000001001D00540052005400FF01000000000000000800000007000000280000002800000000000000000000001A0000006200690065006E00200068006F0061006300780063004400460044006800A31E690020007900EA006D00720065005400520054000800000040000000008208000000810308000081010B000081020C000081070E00008102150000010317000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000005_3F115E1A] ON [dbo].[Doituong]([Email]) WITH STATS_STREAM = 0x01000000010000000000000000000000C63A3D4700000000B5020000000000007502000000000000A7020402A70000001E0000000000000008D0003408001300070000007DA8340124A100000800000000000000080000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000100000000000CC4000000041000000000000CC40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000B2000000000000001101000000000000280000000000000042000000000000005B000000000000007F000000000000009800000000000000300010000000803F000000000000803F04000001001A006378633000100000000040000000000000803F0400000100190046443000100000004040000000000000803F040000010024006C616E40476D61696C2E636F6D300010000000803F000000000000803F040000010019007265300010000000803F000000000000803F04000001001A00545254FF01000000000000000800000005000000280000002800000000000000000000001700000063786346446C616E40476D61696C2E636F6D726554525406000000400000000081030000008202030000830D0500008102120000010314000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000006_3F115E1A] ON [dbo].[Doituong]([SoDienThoai]) WITH STATS_STREAM = 0x010000000100000000000000000000003AEEE7D7000000000004000000000000C003000000000000EF020000EF000000160000000000000008D00034030000000700000082A8340124A10000080000000000000008000000000000000000803F0000003E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000070000000700000001000000260000000000B04100000041000000000000B04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000057010000000000005C02000000000000380000000000000061000000000000008A00000000000000B300000000000000DC0000000000000005010000000000002E01000000000000100026000000803F000000000000803F30003100320033003400320033003500310020002000040000100026000000803F000000000000803F30003100320033003400350036003700380039002000040000100026000000803F000000000000803F31003300320033003200200020002000200020002000040000100026000000803F000000000000803F34003400360035003600200020002000200020002000040000100026000000803F000000000000803F34003500360035003600200020002000200020002000040000100026000000803F0000803F0000803F36003500360035003600350036003500200020002000040000100026000000803F000000000000803F72006500200020002000200020002000200020002000040000FF01000000000000000800000008000000280000002800000000000000000000005200000030003100320033003400320033003500310020002000350036003700380039002000310033003200330032002000200020002000200020003400340036003500360020002000200020002000200035003600350036002000200020002000200020003500350035002000200020002000200020002000200036003500360035003600350036003500200020002000720065002000200020002000200020002000200020000B0000004000000000C005000000810605000001060B0000810B110000C0011C0000810A1D0000010A270000810B310000810B3C0000010B47000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000007_3F115E1A] ON [dbo].[Doituong]([Tinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000E445DB74000000001802000000000000D801000000000000380210003800000004000A00000000000000000065002000070000008D60250121A10000070000000000000007000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000007C00000000000000200000000000000037000000000000004E0000000000000065000000000000001000140000000040000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F000000400000803F06000000040000100014000000803F000000000000803F07000000040000
GO
/****** Object:  Statistic [_WA_Sys_00000008_3F115E1A]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000008_3F115E1A] ON [dbo].[Doituong]([doituongStatus]) WITH STATS_STREAM = 0x010000000100000000000000000000005A7FE16100000000BB010000000000007B01000000000000380200003800000004000A00000000000000000000000000070000002BFB110121A1000007000000000000000700000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001F000000000000000800000000000000100014000000E040000000000000803F01000000040000
GO
/****** Object:  Statistic [PK_Doituong]    Xem thêm:  www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Doituong]([PK_Doituong]) WITH STATS_STREAM = 0x0100000001000000000000000000000052688E74000000001802000000000000D801000000000000380300003800000004000A0000000000000000000000000007000000A385090121A10000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000007C00000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000, ROWCOUNT = 15, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_47A6A41B]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_47A6A41B] ON [dbo].[quangcao]([TenCty]) WITH STATS_STREAM = 0x010000000100000000000000000000002F6D74E5000000001802000000000000D801000000000000A7030000A7000000320000000000000008D0003400000000070000004C29BE002AA1000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000803F00004040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000003D000000000000007400000000000000100000000000000023000000000000001000100000000040000000000000803F040000300010000000803F000000000000803F04000001001A00747474FF010000000000000003000000020000002800000028000000000000000000000003000000747474020000004200000000010300000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_47A6A41B]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000003_47A6A41B] ON [dbo].[quangcao]([Hinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000E7C2E600000000006B020000000000002B02000000000000E7020000E7000000640000000000000008D0003400000000070000004C29BE002AA1000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000006600000000000000C70000000000000010000000000000003B000000000000003000100000000040000000000000803F04000001002B002000200020002000200020002000200020002000300010000000803F000000000000803F04000001002B00640061006E006800620061002E006A0070006700FF0100000000000000030000000200000028000000280000000000000000000000140000002000200020002000200020002000200020002000640061006E006800620061002E006A0070006700030000004000000000820A000000010A0A000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_47A6A41B]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000004_47A6A41B] ON [dbo].[quangcao]([Hrep]) WITH STATS_STREAM = 0x010000000100000000000000000000008F67B19E000000001602000000000000D601000000000000A7020000A7000000320000000000000008D0003400000000070000004C29BE002AA1000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000ABAA2A3F0000404000000000ABAA2A3F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000003C000000000000007200000000000000100000000000000023000000000000001000100000000040000000000000803F040000300010000000803F000000000000803F04000001001900686AFF010000000000000003000000020000002800000028000000000000000000000002000000686A020000004200000000010200000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_47A6A41B]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000005_47A6A41B] ON [dbo].[quangcao]([Status]) WITH STATS_STREAM = 0x010000000100000000000000000000003DC869E700000000BB010000000000007B01000000000000380200003800000004000A00000000000000000000000000070000005129BE002AA1000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001F0000000000000008000000000000001000140000004040000000000000803F01000000040000
GO
/****** Object:  Statistic [PK_quangcao]    Xem thêm:  www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[quangcao]([PK_quangcao]) WITH STATS_STREAM = 0x010000000100000000000000000000007851238E00000000DA010000000000009A01000000000000380300003800000004000A00000000000000000000000000070000002013BE002AA10000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000003E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_55009F39]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000002_55009F39] ON [dbo].[Users]([Username]) WITH STATS_STREAM = 0x010000000100000000000000000000005E6B59BD000000007C030000000000003C03000000000000E7020000E7000000640000000000000008D00034270000000700000037DF8200C8A5000008000000000000000800000000000000000000000000003E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000080000000800000001000000100000000000F04000000041000000000000F0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000003401000000000000C801000000000000D001000000000000400000000000000061000000000000007C000000000000009B00000000000000B800000000000000D900000000000000F6000000000000001301000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00300010000000803F000000000000803F04000001001B0062006300300010000000803F000000000000803F04000001001F006400690065006D00300010000000803F000000000000803F04000001001D00640073006400300010000000803F000000000000803F0400000100210064007500790065006E00300010000000803F000000000000803F04000001001D00650077006500300010000000803F000000000000803F04000001001D006C0061006E00300010000000803F000000000000803F040000010021007400720061006E006700FF01000000000000000800000008000000280000002800000000000000000000001C000000610064006D0069006E00620063006400690065006D00730064007500790065006E006500770065006C0061006E007400720061006E0067000A000000400000000081050000008102050000C001070000810308000081020B000001040D0000810311000081031400000105170000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_55009F39]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000003_55009F39] ON [dbo].[Users]([Userpass]) WITH STATS_STREAM = 0x01000000010000000000000000000000F7D5857E000000003B02000000000000FB01000000000000A7020000A7000000320000000000000008D00034006E00620700000036DF8200C8A5000008000000000000000800000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001000000000005040000000410000E04000005040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000390000000000000087000000000000008F000000000000000800000000000000300010000000803F000000000000803F0400000100310001002D940BC8007726726529A21EDC84C2B9F761C64EAEF25BB9FF01000000070000000800000002000000280000002800000000000000000000001A00000001002D940BC8007726726529A21EDC84C2B9F761C64EAEF25BB9020000004000000000011A000000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_55009F39]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000004_55009F39] ON [dbo].[Users]([Fullname]) WITH STATS_STREAM = 0x01000000010000000000000000000000904131E500000000ED03000000000000AD03000000000000E70284C2E7000000640000000000000008D00034000008000700000036DF8200C8A5000008000000000000000800000000000000000000002549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000070000000700000001000000100000000000B84100000041000000000000B8410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006701000000000000390200000000000041020000000000003800000000000000550000000000000076000000000000009500000000000000C80000000000000009010000000000004601000000000000300010000000803F000000000000803F04000001001D00610062006300300010000000803F000000000000803F04000001002100610064006D0069006E00300010000000803F000000000000803F04000001001F006400690065006D00300010000000803F000000000000803F040000010033006E0067007500790065006E00200074006800690020006C0061006E003000100000000040000000000000803F040000010041006E0067007500790065006E0020007400680069002000740068007500790020007400720061006E006700300010000000803F000000000000803F04000001003D007400720061006E00200074006800690020006E0067006F006300200064007500790065006E00300010000000803F000000000000803F0400000100210077007100770071007700FF01000000000000000800000007000000280000002800000000000000000000003B00000061006200630064006D0069006E006400690065006D006E0067007500790065006E00200074006800690020006C0061006E00740068007500790020007400720061006E0067007400720061006E00200074006800690020006E0067006F006300200064007500790065006E00770071007700710077000A0000004000000000C001000000810201000001040300008104070000C00B0B00008103160000020A19000081132300000105360000000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_55009F39]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000005_55009F39] ON [dbo].[Users]([Systemright]) WITH STATS_STREAM = 0x01000000010000000000000000000000F755350E00000000EA01000000000000AA01000000000000380300743800000004000A0000000000000000003F0000000700000035DF8200C8A5000008000000000000000800000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000E040000000000000803F01000000040000100014000000803F000000000000803F020000000400000800000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_55009F39]    Xem thêm:  www.manguonvip.com ******/
CREATE STATISTICS [_WA_Sys_00000006_55009F39] ON [dbo].[Users]([Status]) WITH STATS_STREAM = 0x010000000100000000000000000000008C7A9D8D00000000EA01000000000000AA01000000000000380200743800000004000A0000000000000000003F0000000700000003DF8200C8A5000008000000000000000800000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F00000000040000100014000000E040000000000000803F010000000400000800000000000000
GO
/****** Object:  Statistic [PK_User]    Xem thêm:  www.manguonvip.com ******/
UPDATE STATISTICS [dbo].[Users]([PK_User]) WITH STATS_STREAM = 0x01000000010000000000000000000000AF0BCAC40000000066020000000000002602000000000000380300003800000004000A0000000000000000000200000007000000D4D08200C8A50000080000000000000008000000000000000000803F0000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000000410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000BA00000000000000C200000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F02000000040000100014000000803F0000803F0000803F04000000040000100014000000803F000000000000803F05000000040000100014000000803F000000000000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F000000000000803F0D0000000400000800000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
USE [master]
GO
