
    .table
        {
           width: 1200px;
        }
        .banner
        {
            height: 164px;
            width:1200px;;
        }
        .menu
        {
            
             height: 44px;
            
        }
        .left
        {
           height: 164px;
            width:400px;
        }
        .footer
        {
            height: 50px;
        }
        .body
        {
            height: 164px;
            width:800px;
        }

